<!-- <div class="detalle" *ngIf="creator != null">
  <h1>{{ creator.data.results[0].name }}</h1>
</div> -->
<div class="detalle" *ngIf="creator != null">
  <div class="imageAnTitle">
    <img
      src="{{ creator.data.results[0].thumbnail.path }}/portrait_incredible.{{
        creator.data.results[0].thumbnail.extension
      }}"
      alt="{{ creator.data.results[0].title }}"
    />
    <div class="info">
      <h1>{{ creator.data.results[0].fullName }}</h1>
      <h5>id: {{ creator.data.results[0].id }}</h5>
      <h5>Start date: {{ creator.data.results[0].start | date }}</h5>
      <h5>End date: {{ creator.data.results[0].end | date }}</h5>
      <p>{{ creator.data.results[0].description }}</p>

      <div class="anchors">
        <a href="{{ creator.data.results[0].urls[0].url }}">
          Marvel's official detail web
        </a>
        <a href="{{ creator.data.results[0].urls[1].url }}">
          Marvel's official wiki
        </a>
        <h1>{{ creator.data.results[0].fullName }}Kilo</h1>
        <!--   <a href="{{ creator.data.results[0].urls[2].url }}"
          >Marvel's official creators hub</a
        > -->
        <h1>{{ creator.data.results[0].fullName }}</h1>
      </div>
      <a href=""></a>
    </div>
  </div>

  <div class="listItems">
    <div class="list">
      <div class="cabeceraLista">Comics</div>
      <div class="detalle" *ngIf="comics != null">
        <div *ngFor="let unitaryComic of comics">
          <a routerLink="/detailcomic/{{ unitaryComic.id }}">
            <img
              src="{{ unitaryComic.thumbnail.path }}/portrait_incredible.{{
                unitaryComic.thumbnail.extension
              }}"
              alt="{{ unitaryComic.title }}"
            />
            <h5>{{ unitaryComic.title }}</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="cabeceraLista">Series</div>
      <div class="detalle" *ngIf="series != null">
        <div *ngFor="let unitarySerie of series">
          <a routerLink="/detailseries/{{ unitarySerie.id }}">
            <img
              src="{{ unitarySerie.thumbnail.path }}/portrait_incredible.{{
                unitarySerie.thumbnail.extension
              }}"
              alt="{{ unitarySerie.title }}"
            />
            <h5>{{ unitarySerie.title }}</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="cabeceraLista">Events</div>
      <div class="detalle" *ngIf="events != null">
        <div *ngFor="let unitarySerie of events">
          <a routerLink="/detailevent/{{ unitarySerie.id }}">
            <img
              src="{{ unitarySerie.thumbnail.path }}/portrait_incredible.{{
                unitarySerie.thumbnail.extension
              }}"
              alt="{{ unitarySerie.title }}"
            />
            <h5>{{ unitarySerie.title }}</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="cabeceraLista">Stories</div>
      <div class="detalle" *ngIf="stories != null">
        <div *ngFor="let unitarySerie of stories">
          <a routerLink="/detailseries/{{ unitarySerie.id }}">
            <img
              src="{{ unitarySerie.thumbnail.path }}/portrait_incredible.{{
                unitarySerie.thumbnail.extension
              }}"
              alt="{{ unitarySerie.title }}"
            />
            <h5>{{ unitarySerie.title }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
