<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="./usuario.component.scss" rel="stylesheet" />




  </head>
  <body>
    <header>
      <div class="flex-container0"><div class="TextCenter"><h3>Usuario</h3></div></div>

      <div class="flex-container0">
        <nav>
          <ul>
            <li><div class="TextCenter"><a href="#">Cerrar seccion</a></div></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="row">
      <aside>


        <div class="flex-container01">
          <nav>
            <ul>
              <li><div class="TextCenter"><a href="#">Volver</a></div></li>
            </ul>
          </nav>
        </div>




        <div class="flex-container">

          <div class="User1">
            <div class="TextCenter"><img src="img/usuario.jpg" height="100" width="100"></div>
          </div>

          <div class="User2">

            <input type="checkbox" id="1">
            <label for="1">
              <span>Administrador</span>

            </label>



          </div>

        </div>
      </aside>


      <section>
        <h2>Section</h2>



        <div class="flex-container">

                <div class="seccion1"style="order: 1">id: 7</div>
                <div class="seccion1"style="order: 2">Vera Rubin</div>
                <div class="seccion1"style="order: 3">@gmail</div>
                <div class="seccion1"style="order: 3"><h4>Cambiar contraseña</h4></div>
                <div class="seccion1"style="order: 4"> <input type="password" class="form-control" placeholder="Password"></div>
                <div class="seccion1"style="order: 5"> <input type="password" class="form-control" placeholder="New password"></div>
                <div class="seccion1"style="order: 6"> <input type="password" class="form-control" placeholder="Repeat password"></div>

        </div>
      </section>
    </div>

    <section>
      <h2>Section2</h2>

      <div class="flex-container">

        <div>Favoritos</div>

        <div id="div1">
          <table border="1">
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
            <tr>
              <td>1</td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <footer>

      <div class="flex-container100">

        <div class="flex-container22"><div class="TextCenter"><h3>
          <nav>
            <ul>
              <li><a href="#">EDITAR</a></li>
            </ul>
          </nav>
        </h3></div></div>

        <div class="flex-container22"><div class="TextCenter"><h3>
          <nav>
            <ul>
              <li><a href="#">GUARDAR CAMBIOS</a></li>
            </ul>
          </nav>
        </h3></div></div>

        <div class="flex-container22"><div class="TextCenter"><h3>
          <nav>
            <ul>
              <li><a href="#">BORRAR ENTRAR</a></li>
            </ul>
          </nav>
        </h3></div></div>






      </div>



    </footer>
  </body>
</html>
