<div class="detalle" *ngIf="comic != null">
  <div class="imageAnTitle">
    <img
      src="{{ comic.data.results[0].thumbnail.path }}/portrait_incredible.{{
        comic.data.results[0].thumbnail.extension
      }}"
      alt="{{ comic.data.results[0].title }}"
    />
    <div class="info">
      <h1>{{ comic.data.results[0].title }}</h1>
      <h5>id: {{ comic.data.results[0].id }}</h5>
      <h5>isbn: {{ comic.data.results[0].isbn }}</h5>
      <h5>Number of pages: {{ comic.data.results[0].pageCount }}</h5>
      <h5>
        Publication date:
        {{ comic.data.results[0].dates[1].date | date : "d/M/y" }}
      </h5>
      <h5>
        Price: {{ comic.data.results[0].prices[0].price | currency : "$" }}
      </h5>
      <p>{{ comic.data.results[0].description }}</p>

      <div class="anchors">
        <a href="{{ comic.data.results[0].urls[0].url }}"
          >Marvel's official detail web</a
        >
      </div>
    </div>
  </div>

  <div class="listItems">
    <div class="list">
      <div class="cabeceraLista">Artist:</div>
      <div class="detalle" *ngIf="creators != null">
        <div *ngFor="let creator of creators">
          <a routerLink="/detailcreator/{{ creator.id }}">
            <img
              src="{{ creator.thumbnail.path }}/portrait_incredible.{{
                creator.thumbnail.extension
              }}"
              alt="{{ creator.name }}"
            />
            <div>{{ creator.fullName }}</div>
          </a>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="cabeceraLista">Characters:</div>
      <div class="detalle" *ngIf="character != null">
        <div *ngFor="let unitarySerie of character">
          <a routerLink="/detail/{{ unitarySerie.id }}">
            <img
              src="{{ unitarySerie.thumbnail.path }}/portrait_incredible.{{
                unitarySerie.thumbnail.extension
              }}"
              alt="{{ unitarySerie.name }}"
            />
            <h5>{{ unitarySerie.name }}</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="cabeceraLista">Stories:</div>
      <div class="detalle" *ngIf="stories != null">
        <div *ngFor="let unitarySerie of stories">
          <a routerLink="/detailstories/{{ unitarySerie.id }}">
            <h5>{{ unitarySerie.title }}</h5>
            <h6>{{ unitarySerie.description }}</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
