<div class="container-fluid pt-5 pb-5" style="background-color: #ed1d24">
  <div class="row mb-5 mt-4">
    <div class="col d-flex align-items-center justify-content-center">
      <h1 class="text-white">¿Quien somos?</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col d-flex align-items-center justify-content-center">
      <img
        class=""
        src=" ../../../assets/NicePng_red-dead-redemption-logo_3238100.png"
        style="width: 10em; height: 10em"
      />
    </div>
    <div class="col">
      <p>
        Hola! Somos Cristian, Israel y Matias, un grupo de desarrolladores
        Front-End Juniors de Angular a los que se les ha asignado un proyecto,
        el mismo que estas viendo ahora :) Esperamos que la aplicación sea de tu
        agrado! Nos puedes contactar en las redes sociales mencionadas a
        continuación:
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col mt-5 d-flex align-items-center justify-content-center">
      <div class="card h-100" style="width: 18rem">
        <img
          src="../../../assets/avatarIsrael.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Isra</h5>
          <p class="card-text">Angular Front-End Junior Developer</p>
          <p class="card-footer text-center">
            <a class="text-decoration-none" href="https://github.com/Iminguet"
              >Github Profile</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col mt-5 d-flex align-items-center justify-content-center">
      <div class="card h-100" style="width: 18rem">
        <img
          src="../../../assets/avatarCristian.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Cristian</h5>
          <p class="card-text">Front-end Angular Junior Developer</p>
          <p class="card-footer text-center">
            <a class="text-decoration-none" href="https://github.com/crraroldan"
              >Github Profile</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col mt-5 d-flex align-items-center justify-content-center">
      <div class="card h-100" style="width: 18rem">
        <img
          src="../../../assets/avatarMio.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Matias</h5>
          <p class="card-text">
            Front-end Angular Junior Developer<br />Diseñador y modelador 3D<br />Desarrollador
            de Videojuegos Indie
          </p>
          <p class="card-footer text-center">
            <a class="text-decoration-none" href="https://github.com/Mikiexe"
              >Github Profile</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
