.logo_container {
  background-color: #ed1d24;
  padding: 0.5em;
  height: 100%;
  img {
    background-color: #ed1d24;
  }
}
.nano {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .carjeta {
    width: 100%;
    height: 100%;
    margin: 0.5em;
    border-radius: 0.5em;
    .elementCard {
      border-radius: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      img {
        height: 100%;
      }
      .circular {
        border-radius: 50%;
      }
      .cbody {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vw;
        background-color: rgb(245, 239, 233);
        width: 100%;
        height: 100%;
        border-radius: 0.2em;
        background-color: #ed1d24;
        color: white;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .nano {
    .carjeta {
      width: 15vw;
      height: 20vw;
      margin: 0.5em;
    }
  }
}
