<div style="height:100vh; width: 100vw;">
  <div class="row " style=" height:10%;">
    <div class="col-2 text-center mx-auto my-auto" style="background-color:yellow;">
      LOGO
    </div>
    <div class="col" style="background-color:brown;">asd</div>
  </div>
  <div class="row" style="height: 90%;">
    <div class="col-2 " style="background-color:red;">
      <div class="row mt-3">
        <div class="col text-center">
          <div class="input-group mb-3 mx-auto" style="width: 90%;">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row mt-5">
          <div class="col text-center mt-5">asdasd</div>
        </div>
        <div class="row text-center mt-5">
          <div class="col mt-5">asdasd</div>
        </div>
        <div class="row text-center mt-5">
          <div class="col mt-5">asdasd</div>
        </div>
        <div class="row text-center mt-5">
          <div class="col mt-5">asdasd</div>
        </div>
      </div>
    </div>
    <div class="col" style="background-color:blue;">asd</div>
  </div>
</div>
