<div class="nano" *ngIf="comicsArray != null">
  <div class="carjeta" *ngFor="let comic of comicsArray.data.results">
    <div class="elementCard">
      <a routerLink="/detail/{{ comic.id }}">
        <img
          src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}"
          alt="{{ comic.name }}"
        />
      </a>
      <h6>{{ comic.id }}</h6>
      <div class="cbody">
        <a href="{{ comic.url }}" class="button">{{ comic.description }}</a>
      </div>
    </div>
  </div>
</div>
