<div class="container d-flex justify-content-start align-items-center"
  style="width: 80vw; height: 50vh; border: 1px solid black; background-color: yellow;">

  <div class="col d-flex justify-content-center align">
    <form class="w-50 mx-5">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col d-flex justify-content-center">
    <img src="../../../assets/pngwing.com (1).png" alt="" sizes="" srcset="">
    <img src="../../../assets/pngwing.com (2).png" alt="" sizes="" srcset="">
    <img src="../../../assets/pngwing.com (3).png" alt="" sizes="" srcset="">
    <img src="../../../assets/pngwing.com (4).png" alt="" sizes="" srcset="">
    <img src="../../../assets/pngwing.com (5).png" alt="" sizes="" srcset="">
  </div>
</div>
