<div class="nano" *ngIf="characterArray != null">
  <div class="carjeta" *ngFor="let character of characterArray.data.results">
    <a routerLink="/detail/{{ character.id }}">
      <div class="elementCard">
        <img
          src="{{ character.thumbnail.path }}/standard_amazing.{{
            character.thumbnail.extension
          }}"
          alt="{{ character.name }}"
        />

        <div class="cbody">
          <h4>{{ character.name }}</h4>
        </div>
      </div></a
    >
  </div>
</div>
