<div class="nano" *ngIf="eventsArray != null">
  <div class="carjeta" *ngFor="let event of eventsArray.data.results">
    <a routerLink="/detailevent/{{ event.id }}">
      <div class="elementCard">
        <img
          class="circular"
          src="{{ event.thumbnail.path }}/standard_fantastic.{{
            event.thumbnail.extension
          }}"
          alt="{{ event.title }}"
        />
        <div class="cbody">
          <h6>{{ event.title }}</h6>
        </div>
      </div></a
    >
  </div>
</div>
